<div class="container justify-content-center my-5">
  <h1 class="container text-center text-decoration-underline my-5"><i>All Faculties</i></h1>
  <table class="table table-bordered container table-hover table-striped text-center">
    <thead class="table-dark">
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone No.</th>
        <th scope="col">Email</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Designation</th>
        <th scope="col">Show</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @faculties.each do |faculty| %>
        <tr>
          <td><%= faculty.first_name %></td>
          <td><%= faculty.last_name %></td>
          <td><%= faculty.phone_no %></td>
          <td><%= faculty.email %></td>
          <td><%= faculty.date_of_birth %></td>
          <td><%= faculty.designation %></td>
          <td><%= link_to "Show", faculty_path(faculty), :class => "btn btn-info" %></td>
          <td><%= link_to "Edit", edit_faculty_path(faculty), :class => "btn btn-secondary" %></td>
          <td><%= link_to "Delete", faculty_path(faculty), :class => "btn btn-danger", data: {
              turbo_method: :delete,
              turbo_confirm: :"Are You Sure?"
          } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <a href="/faculties/new"><input class="btn btn-dark my-3" type="submit" value="Add Faculty"></a>
</div>
